*{
    margin: 0;
    padding: 0;
}
.proker {
    border: solid white;
    color: white;
    width: 200px;
    text-align: center;
    padding: 0.8rem;
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 35px;
}

.proker:hover{
    opacity: 70%;
}

.em2, .ig2 {
    display:flex;
}

.contact{
    margin-top: -50px;
}

.direction {
    font-size: 1.3rem;
}

/* Headers */

.header_bph{
    font-weight: bold;
    font-size: 2rem;
    text-align: left;
    justify-content: left;
    margin-left: -60%;

}

/* "mx-8 grid auto-fit-1 gap-4 w-2/3 */

.logo_bph{
    display: flex;
}

a:hover{
    opacity: 80%;
}
/*text-5xl font-bold*/

.bidang1 {
    font-weight: 700;
    font-size: 3.3rem;
    background: #1D7FCF;
background: linear-gradient(to right, #1D7FCF 0%, #5370C8 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}


.bidang2 {
    font-weight: 700;
    font-size: 3.3rem;
    background: #F4C128;
background: linear-gradient(to right, #F4C128 0%, #E48826 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;



}