@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    padding: 2px 100px;
    display: flex;
    justify-content: space-between;

    background: rgb(58,120,192);
    background: linear-gradient(90deg, rgba(58,120,192,1) 5%, rgba(182,60,60,1) 100%);
    z-index: 200;
}

a {
    text-decoration: none;
    color: white;
    transition: all ease-out 200ms;
}

a:hover {
    opacity: 50%;
}

.menu {
    margin-top: auto ;
    margin-bottom: auto;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    color: white;
    gap: 100px;
}

.wrapper{
    display: flex;
    max-height: 700px;
    background: rgb(40,83,134);
    background: linear-gradient(144deg, rgba(40,83,134,1) 5%, rgba(34,68,108,1) 100%);
}

.left{
    color: white;
    font-size: 1.2rem;
    margin-right: 10px;
    padding-top: 2px;
    margin-top: 40px;
    
    float: left;
    width:55.8%;
    
}

.profil1, .profil2,.title {
    margin-left: 15px;
    width: 98%;
}

.title {
    white-space: pre-line;
    /* font-family: 'DM Serif Display', sans-serif; */
    /* letter-spacing: 0.05em; */
}

.right{
    display: flex;
    float: right;
    margin-right: 0;
}


/* .gedbun{
    margin-top: 40px;
    margin-right: 0;
    display: flexbox;
    height: 100%;
} */

.images{
    
    
    display:contents;
    justify-content: space-between;
    align-content: center;
    gap: 20px;
}


.kurnas{
    margin-left: 2rem;
    margin-bottom: 25px;
    width: 100px;
}

.camb{
    width: 100px;
    margin-left: 10rem;
    margin-top: 20px;
}

.osn{
    width: 100px;
    margin-bottom: 25px;
    margin-left: 10rem;
}

.right-b {
    margin-right: 0;
    text-align: right;
    float: right;
    width: 40%;
}


h1.promo {
    float: right;
    font-size: 2rem;
    margin-right: 20px;
    width: 70%;
}

p.promo{
    float: right;
    display: flex;
    font-size: 1.2rem;
    
    margin-right: 20px;
    
}

.left-b {
    margin-top: 0;
    margin-left: 120px;
    width: 40%;
    float: left;
}

.mockup {
    float: left;
    max-width: 400px;
}

.daftar{
    text-align: right;
    display: flex;
    margin-top: 200px;
    color: black;
    border: solid;
    padding: 10px 20px;
    border-radius: 20px;
    
}