* {
    margin: 0;
    padding: 0;
}

body{
    background-color: 264d7c;
}

.daftar {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    border: solid rgb(164, 35, 35);
    border-width: 6px;
    border-radius: 45px;
    padding: 17px;
    box-sizing: border-box;
    font-size: 1.2rem;
}

.merch {
    font-weight: bold;
    font-size: 3.75rem;
    margin-right: 480px;
}
.contact {
    margin-top: -50px;
}

.direction {
    font-size: 1.3rem;
}

.daftar:hover{
    opacity: 65%;
}

a:hover{
    opacity: 80%;
}