:root {
    --mainfont: "Inter", sans-serif;
}
* {
    font-family: var(--mainfont);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.news-wrapper {
    max-width: 1380px;
    margin: auto;
    margin-top: 60px;
}

.title {
    font-size: 3.5rem;
    font-family: var(--mainfont);
    font-weight: 800;
}