#kalila {
    background-image: url('./bahan/OSIS-20240210T170756Z-001/OSIS/02 BPH/Bendahara I - Kalila Bea Devinya.PNG');
}

#safa {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/02 BPH/Bendahara II - Safa Alzena Riszy.png");
}

#clarissa {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/02 BPH/Ketua Bidang II - Clarissa Aurelia Nahid Saputra.png");
}

#haikal {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/01 Ketua OSIS/Ketua OSIS - Haikal Adrian Fathony.png");
}

#gisela {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/02 BPH/Ketua Bidang I - Gisela Andita Indarto.png");
}

#aprila {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/02 BPH/Sekretaris I - Aprila Yusr Artanti.png");
}

#adelia {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/02 BPH/Sekretaris II - Adelia Nasywa Ramadhani.png");
}

#addia {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/02 BPH/Humas I - Addia Lubna.png");
}

#reval {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/02 BPH/Humas II - Reval Aqeela.png");
}

#ghaida {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang I/K3OR/Kasie K3OR - Ghaida Afifah Dianti.png");
}

#habil {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang I/K3OR/Wakasie K3OR - Habil Mulia Ihsan.png");
}

#randra {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang I/K3OR/Anggota K3OR - Muhammad Randra Shevalino.png");
}

#michiko {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang I/K3OR/Anggota K3OR - Michiko Angelique Jap.png");
}

#kimberly {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang I/K3OR/Anggota K3OR - Kimberly Ciputri.png");
}

#queen {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang I/K3OR/Anggota K3OR - Queen Tabriz Tsabita.png");
}

#arrow {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang I/K3OR/Anggota K3OR - Arrow Dunatos.png");
}

#arva {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang I/SASBUD/Kasie SasBud - Arva Mochammad Raditia.png");
}

#zaskia {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang I/SASBUD/Wakasie SasBud - Zaskia Mehrunisha Arizani.png");
}

#nabilla {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang I/SASBUD/Anggota SasBud - Nabilla Anissa.png");
}

#erian {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang I/SASBUD/Anggota SasBud - Erian Ahmad Feriansyah.png");
}

#renata {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang I/SASBUD/Anggota SasBud - Renata Hanifah.png");
}

#ilfariyani {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang I/SASBUD/Anggota SasBud - Ilfariyani Nurfaizah Syahrial.png");
}

#ariq {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang I/PUDO/Kasie PUDO - Ahmad Ariq Aulia.png");
}

#ryandra {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang I/PUDO/Wakasie PUDO - Ryandra Dwi Abhipraya.png");
}

#aulia {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang I/PUDO/Anggota PUDO - Aulia Salsabilla Widodo.png");
}

#daffa {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang I/PUDO/Anggota PUDO - Daffa Naufal Zuhdi.png");
}

#viona {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang I/PUDO/Anggota PUDO - Viona Chelsea Fedrosia.png");
}

#anindya {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang I/PUDO/Anggota PUDO - Anindya Zilka Qisthi.png");
}

#aqila {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang I/PUDO/Anggota PUDO - Aqila Shafa Apsarita Suryanto.png");
}

#fathirrazi {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang II/AKADEMIS/Kasie Akademis - Mochammad Fathirrazi Nafisandy.png");
}

#ferrel {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang II/AKADEMIS/Wakasie Akademis - Ferrel Himawan Handoyo.png");
}

#rizal {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang II/AKADEMIS/Anggota Akademis - Daffa Rizal Baihaki.png");
}

#shadrina {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang II/AKADEMIS/Anggota Akademis - Shadrina Tiviano.png");
}

#arfan {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang II/AKADEMIS/Anggota Akademis - Arfan Erzananda Dildar.png");
}

#akiva {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang II/AKADEMIS/Anggota Akademis - Akiva Talen Martino.png");
}

#fauzan {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang II/DHL/Anggota DHL.png");
}

#gladys {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang II/DHL/Wakasie DHL - Gladys Gwendolyn.png");
}

#galuh {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang II/DHL/Anggota DHL - Galuh Kristian Joenata.png");
}

#khadijah {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang II/DHL/Anggota DHL - Khadijah Naila Ibtisam.png");
}

#ega {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang II/DHL/Anggota DHL - Ega Aryasatya.png");
}

#fathir {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang II/DHL/Anggota DHL.png");
}

#hardian {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang II/ASRAMA/Ketua Seksi Asrama - Hardian Akhsan Irawan.png");
}

#rafa {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang II/ASRAMA/Ketua Asrama Putri - Rafa Deliyati.png");
}

#agung {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang II/ROHANI/Kasie Rohani - Agung Cahyono.png");
}

#victorius {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang II/ROHANI/WaKasie Rohani - Victorius Almon Rapmalo.png");
}

#dewa {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/Bidang II/ROHANI/Anggota Rohani - Dewa Komang Andika Dharma Saputra.png");
}
