#kalila {
    background-image: url('./bahan/OSIS-20240210T170756Z-001/OSIS/02 BPH/Bendahara I - Kalila Bea Devinya.PNG');
}

#safa {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/02 BPH/Bendahara II - Safa Alzena Riszy.png");
}

#clarissa {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/02 BPH/Ketua Bidang II - Clarissa Aurelia Nahid Saputra.png");
}

#haikal {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/01 Ketua OSIS/Ketua OSIS - Haikal Adrian Fathony.png");
}

#gisela {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/02 BPH/Ketua Bidang I - Gisela Andita Indarto.png");
}

#aprila {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/02 BPH/Sekretaris I - Aprila Yusr Artanti.png");
}

#adelia {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/02 BPH/Sekretaris II - Adelia Nasywa Ramadhani.png");
}

#addia {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/02 BPH/Humas I - Addia Lubna.png");
}

#reval {
    background-image: url("./bahan/OSIS-20240210T170756Z-001/OSIS/02 BPH/Humas II - Reval Aqeela.png");
}