*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dekstop{
    display: block;
}

.mobile{
    display: none;
}
.k3or,.sasbud,.pudo,.akad,.dhl,.asrama,.rohani{
    background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat; background-size: cover;
}
.k3or{
    background-image: url(./bahan/proker/k3orbg.png);
    height: 300px;
    align-items: center;
    display: flex;
    
}


.sasbud{
    background-image: url(./bahan/proker/sasbudbg.png);
    height: 300px;
    align-items: center;
    display: flex;
}

.pudo{
    background-image: url(./bahan/proker/pudobg.png);
    height: 300px;
    align-items: center;
    display: flex;
}

.akad{
    background-image: url(./bahan/proker/akadbg.png);
    height: 300px;
    align-items: center;
    display: flex;
}

.dhl{
    background-image: url(./bahan/proker/dhlbg.png);
    height: 300px;
    align-items: center;
    display: flex;
}

.asrama{
    background-image: url(./bahan/proker/asramabg.png);
    height: 300px;
    align-items: center;
    display: flex;
}

.rohani{
    background-image: url(./bahan/proker/rohanibg.png);
    height: 630px;
    align-items: center;
    display: flex;
}

.blank{
    width: 600px;
}

a:hover{
    opacity: 70%;
}
.columnsleft{
    display: flex;
    justify-content: space-evenly;
    justify-items: flex-end;
    color: white;
    align-items: center;
    gap: 2rem;
    flex: 1;
    margin: 1.2rem;
}



.columnleft{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo{
    width: 300px;
    min-width: 150px;
  
}

li {
    list-style: disc;
}

@media screen and (max-width: 700px) {

    .dekstop{
        display: none;
    }

    .mobile{
        display: block;
    }
    .pudo, .k3or, .sasbud, .akad, .dhl, .asrama{
        height: 800px;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat; background-size: cover;
    }
    .rohani {
        height: 1200px;
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat; background-size: cover;
    }
    .columnsleft{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: white;
        align-items: center;
        gap: 2rem;
        flex: 1;
        margin: 1.2rem;
    }

    .columnleft{
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        
    }
}