.k3orgallery {
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    width: 20%;
}

.k3or {
    background-image: url("bahan/k3or.png");
    background-repeat: no-repeat;
    height: 1080px;
}