*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bg{
    background-color: #264d7c;
}
.title{
    font-weight: 800;
    margin: auto;
    text-align: center;
    font-size: 3rem;
    color: white;
}

.mainform{
    margin-left: 3rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    display: flex;
    gap: 20px;
}

input, textarea{
    background-color: #264d7c;
    border: solid white;
    color: white;
    padding: 15px;
}



.submit{
    font-weight: 600;
    color: white;
    padding: 10px 30px;
    border-radius: 30px;
    border: solid white;
}

.texts{
    color: white;
    font-weight: 600;
}

.wrappertable{
    margin-top: 2rem;
}

table, th,td{
    border: solid black;
    padding: 20px;
    border-collapse: collapse;
    text-align: left;
    font-size: 1.3rem;
    width: 20%;
    margin: auto;
}

th{
    font-weight: 500;
}

.legend{
    font-weight: 700;
}